# Core libraries
python-dotenv
fastapi
uvicorn

# LlamaIndex core and components for hierarchical auto-merging
llama-index-core
llama-index
llama-index-llms-gemini
llama-index-vector-stores-pinecone
llama-index-embeddings-huggingface
transformers
sentence-transformers

# Vector DB
pinecone

# Google Gemini SDK
google-generativeai

# Document loading and processing
aiohttp
python-magic
langchain
langchain-community
pypdf
docx2txt
unstructured[email]

# (Optional) For concurrency, async requests, and production server
httpx
aiofiles
PyMuPDF
requests
tqdm 
numpy